@import './Breakpoints.scss';

.FeaturedSection {
    display: flex;
    background-color:#cdd1d8;
    @include breakpoint(mobileonly) {
        display: none;
    }

    &--alignRight {
        flex-direction: row-reverse;
        background-color:#e8eaed;
    }

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        //margin: 50px 0px;
        text-align: center;
        max-width: 60%;
        margin: 50px 100px 50px 50px;
    }

    &__title {
        font-family: 'Quicksand', sans-serif;
        font-size: 45px;
        margin: 15px 0px;
    }

    &__description {
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
    }

    &__images {
        margin: 3vw 10vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        max-width: 500px;
        box-shadow: 0px 0px 5px black;
        border: 2px
    }
}


a {
    color: #FF4019;
    text-decoration: none;
  }
  
  a:hover {
    color: #ba2c10;
  }